@* @using Microsoft.AspNetCore.Identity


<h2>Изменение ролей для пользователя</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId"/>
    <div class="form-group">
       
            <input type="checkbox" name="roles" value="@"
                   @(Model.UserRoles.Contains() ? "checked=\"checked\"" : "") />@role.Name <br />
        
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form> *@