<h2>Список пользователей</h2>
<form asp-action="UserList" method="get">
    <div class="form-group">
        <table class="table">
       
        <tr>
            <th>
                <label>Пользользователи</label>
            </th>
            <th>
                <label>Уровень доступа(Роль)</label>
            </th>
        </tr>
        <tr>
            <th>
                @foreach (var user in Model.Keys)
                { @user <br> }
            </th>
            <th>
            @foreach (var roles in Model.Values)
            { @roles <br>} 
            </th> 
          
        </tr>
        
<!--         
        <th>
         @foreach (var roles in Model.Values)
        {
            @roles
        }
        </th> -->
       
        </table>
    </div>
</form>