<h2>Список пользователей</h2>
<form asp-action="UserList" method="get">
    <div class="form-group">
        <table class="table">
       
        <tr>
            <th>
                <label>Пользользователи</label>
            </th>
            <th>
                <label>Уровень доступа(Роль)</label>
            </th>
        </tr>
        <tr>
            <td>
            @foreach (var user in Model.Keys)
            { @user <br> }
            </td>
            <td>
            @foreach (var roles in Model.Values)
            { @roles <br>} 
            </td> 
        </tr>
        
       
        </table>
    </div>
</form>