@model List<QandAn.Models.Answer>
    <h4>Answer</h4>
    <hr/>
    <dl class="dl-horizontal">
        @foreach ( var Answers in Model )
        {
            <dt>@Answers.AnswerCreator</dt>
            <dd>@Answers.AnswerContent</dd>
        }
            
        }
    </dl>