@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Start Page";
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/home.css" />
</environment>
<body>

<div class="text-center" style="margin-top:30%">
<h1>Site for Questions and Answers</h1>
<h3>Please, click QandA</h3>
</div>
</body>