@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Start Page";
}

<div class="text-center">
    <h4 class="display-4">Hi, please, push "QandA" </h4>
</div>
