@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Start Page";
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/home.css" />
</environment>
<body>
    <div class="col-6">
    <div class="text-center">
    <h4 class="display-4">Hi, please, push "QandA" </h4>
    </div>
    </div>
</body>
