@model int

<environment include="Development">
    <link rel="stylesheet" href="~/css/error.css" />
</environment>

<div class="container">
    <div class="row">
        <div class="xs-12 md-6 mx-auto">
            <div id="countUp">
                <div class="number" >@Model</div>
                <div class="text">his may not mean anything.</div>
            </div>
        </div>
    </div>
</div>     

  