h2,h4,h5,h6 {font-family: "Lato", sans-serif; color:black;}
body, html {
  background-image: url('https://pixabay.com/get/54e1d1444e52ac14f6d1867dda6d49214b6ac3e456567741722a72d596/morning-2147400_1920.jpg');  
}

body,h1, h3 {font-family: "Raleway", sans-serif; color: black; background-color:#ffb400;}

